$fa-font-path: "~font-awesome/fonts/";
$browser-context: 16;
$blue: #1779ba;
$gray: #cacaca;
$red: #cc4b37;
$white: #ffffff;
$header-black: #242a32;
$reviews-text-black: #363636;
$underline-red: #E53935;
$underline-yellow: #FFC107;
$underline-green: #4CAF50;
$underline-border-px: 3px;

@import "~font-awesome/scss/font-awesome";

.accordion {
  padding: 0;
}

.accordion-item:not(:last-child) {
  border-bottom: 15px solid #ffffff;
}

.accordion-item-trigger, .accordion-item-details-inner {
  padding: 0.75rem 1.25rem;
}

.accordion-item-title {
  position: relative;
}

.accordion-item-trigger {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: 1px solid #000;
  &:focus {
    outline: 0;
  }
}

.accordion-item-trigger-icon {
  $size: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: 1.25rem;
  bottom: 0;
  margin: auto;
  width: $size;
  height: $size;
  border-right: 2px solid #363636;
  border-bottom: 2px solid #363636;
  transform: translateY(-$size / 4) rotate(45deg);
  transition: transform 0.2s ease;

  .is-active & {
    transform: translateY($size / 4) rotate(225deg);
  }
}

.accordion-item-trigger-icon-edit {
  $size: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: 5.25rem;
  bottom: 1rem;
  margin: auto;
  width: $size;
  height: $size;
}

.accordion-item-details {
  overflow: hidden;
  background-color: $white;
}

.accordion-item-enter-active, .accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}

.accordion-item-enter, .accordion-item-leave-to {
  height: 0 !important;
}

.fa-a {
  color: black;
}

.sentiment-wrapper {
  padding: 24px 30px 0;

  & .row-box {
    display: inline-block;
    width: 17.3%;
    max-width: 900px;
    padding: 12px 24px;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 auto;
    border-left: 1px solid #ececec;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
    text-align: center;
  }
}

.underline-green {
  border-bottom: $underline-green solid $underline-border-px;
}

.underline-yellow {
  border-bottom: $underline-yellow solid $underline-border-px;
}

.underline-red {
  border-bottom: $underline-red solid $underline-border-px;
}

.item-title {
  text-align: left;
  padding: 24px 30px 0 120px;
}

.column {
  float: left;
  width: 25%;
}

.row-box-fa {
  padding-left: 3rem;
}

.fa-warn {
  color: $underline-yellow;
}

@media screen and (max-width: 750px) {
  .sentiment-wrapper > .row-box {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .sentiment-wrapper > div:not(:first-child) {
    margin-top: 10px;
  }
  .column {
    float: left;
    width: 20%;
  }
}
