<template>
    <section class="section">
        <accordion :content="content1"></accordion>
    </section>
    <!--  <section class="section">
          <accordion :content="content2" multiple="multiple"></accordion>
      </section>-->
</template>

<script>
    import Accordion from './accordion/Accordion';

    export default {
        name: 'Home',

        components: {
            Accordion
        },

        props: {},

        data() {
            return {
                content1: [
                    {
                        id: 1,
                        active: false,
                        title: 'Crushing Spirits',
                    },
                    {
                        id: 2,
                        active: false,
                        title: 'Crushing Spirits 2',
                    },
                ],
            }
        }
    }
</script>
