<template>
    <div :id="groupId + '-' + item.id" class="accordion-item" :class="{'is-active': item.active}">
        <div class="accordion-item-title">
            <button @click="toggle" class="accordion-item-trigger">
                <span class="column">{{item.title}}</span>
                <span class="column"><i class="fa fa-exclamation-triangle fa-2x fa-warn" aria-hidden="true"></i></span>
                <span class="column">29.07.2019</span>
                <span class="column">1.498,35 &euro;</span>
                <a @click="edit" href="#" class="accordion-item-trigger-icon-edit">
                    <i class="fa fa-pencil-square-o fa-2x fa-a" aria-hidden="true"></i>
                </a>
                <span class="accordion-item-trigger-icon"></span>
            </button>
        </div>
        <transition-group
                name="accordion-item"
                @enter="startTransition"
                @after-enter="endTransition"
                @before-leave="startTransition"
                @after-leave="endTransition"
        >

            <div v-if="item.active" class="accordion-item-details" v-for="box in 3" :key="box">
                <div class="item-title">Test</div>
                <div class="sentiment-wrapper">

                    <div class="underline-green row-box">
                        <span>Job 1
                            <a @click="edit" href="#">
                                <i class="fa fa-pencil-square-o row-box-fa fa-lg fa-a" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>

                    <div class="underline-green row-box">
                        <span>Job 2</span>
                    </div>

                    <div class="underline-green row-box">
                        <span>Job 3</span>
                    </div>

                    <div class="underline-red row-box">
                        <span>Job 4</span>
                    </div>

                    <div class="underline-yellow row-box">
                        <span>Job 5</span>
                    </div>

                </div>
            </div>

        </transition-group>
    </div>
</template>

<script>
    export default {
        name: "AccordionItem",

        props: ['item', 'multiple', 'groupId'],

        methods: {
            toggle(event) {
                if (this.multiple) {
                    this.item.active = !this.item.active;
                }
                else {
                    this.$parent.$children.forEach((item) => {
                        if (item.$el.id === event.currentTarget.parentElement.parentElement.id) {
                            item.item.active = !item.item.active;
                        } else {
                            item.item.active = false;
                        }
                    });
                }
            },

            startTransition(el) {
                el.style.height = el.scrollHeight + 'px';
            },

            endTransition(el) {
                el.style.height = '';
            },

            edit() {
                // console.log('Clicked Edit button!');
            }
        }
    }
</script>
