<template>
    <div class="accordion box" role="presentation">
        <accordion-item
                v-for="item in content"
                :multiple="multiple"
                :item="item"
                :groupId="groupId"
                :key="item.id">
        </accordion-item>
    </div>

</template>

<script>
    import '../../assets/scss/accordion.scss'
    import AccordionItem from './AccordionItem';

    export default {
        name: "Accordion",

        components: {
            AccordionItem
        },

        props: {
            content: {
                type: Array,
                required: true
            },
            multiple: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                groupId: null
            }
        },

        mounted() {
            this.groupId = this.$el.id;
        }
    }
</script>